APP_NAME=SCI-DOC AI
API_VERSION=v1
DEBUG=false
MAX_UPLOAD_SIZE_MB=50

# P1 model providers
OCR_PROVIDER=tesseract
OCR_LANGUAGE=eng
TRANSLATION_PROVIDER=rule-based-dev
TRANSLATION_MODEL=facebook/nllb-200-distilled-600M

# For P1 evaluation, switch to:
# OCR_PROVIDER=paddleocr
# OCR_LANGUAGE=en
# TRANSLATION_PROVIDER=huggingface-nllb
